<section class="d-flex flex-column px-3">
    <app-navbar [username]="username" [profileType]="profileType" [profile_picture]="profile_picture"></app-navbar>
    <app-sidebar (menuOption)="receivesMenuOption($event)"></app-sidebar>
    <article class="p-1 ms-17 mt-6">
        <app-dashboard *ngIf="menuOptionValue === 'dashboard'"></app-dashboard>
        <app-favorite 
        *ngIf="menuOptionValue === 'favorite'" 
        [card01]="card01" 
        [card02]="card02" 
        [card03]="card03"
        [card04]="card04"
        [card05]="card05"
        [card06]="card06"
        [card07]="card07"
        [card08]="card08"
        ></app-favorite>
    </article>
</section>