<div class="h-100 rounded rounded-lg w-100">

    <!-- (en) Columns options -->
    <article *ngIf="setColumnOptions" class="z-1 m-0 h-100 position-absolute w-100 row">
        <div *ngIf="!isFilter" class="col-9 backdrop w-75">
            <h1 class="block m-2 fs-6 normal px-4 pt-3 pb-2 text-white">Selecione as colunas</h1>
            <div class="w-50 max-w-200 h-300 overflow-y-auto mx-4 py-2">
                <section class="d-flex justify-content-center align-items-start flex-column gap-2">
                    <div *ngFor="let column of UsersColumnsOption" class="w-100">
                        <button (click)="setOption(column)"
                            class="w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2" [ngSwitch]="column"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes(column) }">
                            <ng-container *ngSwitchCase="'id'">ID</ng-container>
                            <ng-container *ngSwitchCase="'name'">Usuário</ng-container>
                            <ng-container *ngSwitchCase="'segment'">Segmento</ng-container>
                            <ng-container *ngSwitchDefault>{{column}}</ng-container>
                        </button>
                    </div>
                    <div *ngFor="let column of ExtractsColumnsOption" class="w-100">
                        <button (click)="setOption(column)"
                            class="w-100 btn text-12 rounded rounded-lg bg-pink text-white p-2" [ngSwitch]="column"
                            [ngClass]="{ 'bg-gray': userOptions.selectedOptions.includes(column) }">
                            <ng-container *ngSwitchCase="'id'">ID</ng-container>
                            <ng-container *ngSwitchCase="'created_at'">Data de Criação</ng-container>
                            <ng-container *ngSwitchCase="'pages_process'">Páginas Processadas</ng-container>
                            <ng-container *ngSwitchCase="'doc_type'">Tipo de Documento</ng-container>
                            <ng-container *ngSwitchCase="'user_id'">ID do Usuário</ng-container>
                            <ng-container *ngSwitchCase="'doc_count'">Documentos Processados</ng-container>
                            <ng-container *ngSwitchDefault>{{column}}</ng-container>
                        </button>
                    </div>
                </section>
            </div>

            <div class="w-50 max-w-200 mx-4 d-flex align-items-start justify-content-center flex-column gap-2">

                <button class="w-100 btn text-14 rounded rounded-lg bg-pink text-white p-2" *ngIf="selectedOptions >= 2"
                    (click)="openChart()">
                    Proximo
                </button>

                <select *ngIf="(showChartOptions) && (selectedOptions == 2)" (change)="setChart($event)" name="chart"
                    id="chart" class="select rounded rounded-lg bg-pink text-white p-2 w-100 pointer">
                    <option value="" disabled selected>Selecione um gráfico</option>
                    <option value="pie">Pizza</option>
                    <option value="bar">Barras</option>
                    <option value="horizontal-bar">Barras Horizontais</option>
                    <option value="line">Linha</option>
                    <option value="area">Área</option>
                    <option value="scatter">Dispersão</option>
                </select>
            </div>
        </div>
        <div *ngIf="isFilter" class="col-9 backdrop w-75">
            <h1 class="w-100 block m-2 fs-6 normal px-4 pt-3 pb-2 text-white">Selecione o período</h1>
            <div class="h-300 w-100 py-2 d-flex align-items-start justify-content-center flex-column">
                <div class="w-100 d-flex flex-column filterContent">
                    <mat-form-field class="w-75">
                        <mat-label class="text-pink">Insira um período</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" [(ngModel)]="userOptions.startDate">
                            <input matEndDate placeholder="End date" [(ngModel)]="userOptions.endDate">
                        </mat-date-range-input>
                        <mat-hint class="text-white small">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker touchUi #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div *ngIf="!userOptions.selectedOptions.includes('doc_count')"
                    class="w-75 h-300 py-2 d-flex flex-column align-items-center justify-content-center gap-2">
                    <span class="my-2 text-white">Selecione uma Agregação</span>
                    <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                        <button *ngIf="isFilter && !userOptions.selectedOptions.includes('pages_process')"
                            [ngClass]="{ 'bg-gray': userOptions.aggregate === '' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="setAggregate('')">Contar</button>
                        <button *ngIf="isFilter" [ngClass]="{ 'bg-gray': userOptions.aggregate === 'sum' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="setAggregate('sum')">Somar</button>
                        <button *ngIf="isFilter" [ngClass]="{ 'bg-gray': userOptions.aggregate === 'avg' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="setAggregate('avg')">Média</button>
                    </div>
                </div>
                <div class="w-75 h-300 py-2 d-flex flex-column align-items-center justify-content-center gap-2"
                    *ngIf="isFilter && userOptions.selectedOptions.includes('created_at') && (userOptions.selectedOptions.includes('doc_count') || userOptions.selectedOptions.includes('pages_process'))">
                    <span class="my-2 text-white">Selecione uma opção</span>
                    <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                        <button [ngClass]="{ 'bg-gray': timeGrouping === 'month' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="timeGrouping = 'month'">Mês</button>
                        <button *ngIf="isFilter" [ngClass]="{ 'bg-gray': timeGrouping === 'year' }"
                            class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="timeGrouping = 'year'">Ano
                        </button>
                    </div>
                </div>
                <div class="h-300 mx-4 py-2 d-flex align-items-center flex-column">
                    <span class="my-2 small w-75 text-white text-center">
                        Salve para atualizar os dados :)
                    </span>
                    <div class="d-flex filterButtons">
                        <button *ngIf="isFilter" class="btn text-14 rounded rounded-lg bg-gray text-white p-2"
                            (click)="cleanFilter()">Limpar Filtro</button>
                        <button *ngIf="isFilter" class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                            (click)="addFilter()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="backdrop col p-2 gap-2 d-flex align-items-end justify-content-start flex-column">
            <button *ngIf="!isFilter" class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                (click)="resetData()">Limpar</button>
            <button class="btn text-14 rounded rounded-lg bg-gray text-white p-2"
                (click)="showOptions()">Fechar</button>
            <button *ngIf="!isFilter" class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                (click)="isFilter = !isFilter">Filtro</button>
        </div>
    </article>


    <!-- Legend: 
        cardID -> (en) Send the chart ID
        userOptions -> (en) Send the options selected by the user, for visualization
        userOptionsToDB -> (en) Send the options selected by the user, using the correct database names
        chartOption -> (en) Send the chart chosen by the user
    -->

    <!-- (en) Calling the user-chosen graph -->

    <article class="position-relative w-100 h-100">
        <div *ngIf="!setColumnOptions && !cardID.startsWith('dashboard')"
            class="z-1 position-absolute w-100 d-flex align-items-end justify-content-end p-2 gap-2 flex-column">
            <button class="btn btn-save-to-db text-14 rounded rounded-lg p-2"
                (click)="saveToDatabase()">Salvar</button>
            <button class="btn text-14 rounded rounded-lg bg-pink text-white p-2"
                (click)="showOptions()">Editar</button>
        </div>
        <section>
            <app-charts *ngIf="(userOptions.chartType != 'empty') && (userOptions.chartType != 'loading')"
                [cardID]="cardID" [userOptions]="userOptions" [chartOption]="userOptions.chartType"
                [chartClass]="cardClass || 'chart-md'">
            </app-charts>
            <app-isEmpty *ngIf="userOptions.chartType === 'empty' && !cardID.startsWith('dashboard')"></app-isEmpty>
            <app-loading *ngIf="userOptions.chartType === 'loading' && !cardID.startsWith('dashboard')"></app-loading>
        </section>
    </article>
</div>